{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<div class="row justify-content-center my-3 container-fluid">
  <div class="col-12 col-md-10 col-lg-8">
    <img src="{% static 'portfolio/party.jpeg' %}" class="img-fluid w-100" alt="Party Image">
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-12 col-md-10 col-lg-8 text-center">
    <h1 id="hometext" class="font-weight-bold">Atishay Jain is Commander-in-Chief at Big Data Centre of Excellence and lives in Hostel 😊</h1>
  </div>
</div>

<h2 class="mt-5 text-center">Projects</h2>
<hr>
<div class="row">
  {% for project in projects %}
  <div class="col-12 col-md-6 col-lg-4 mb-4">
    {% if project.url %}
    <a href="{{ project.url }}">
      <img src="{{ project.image.url }}" class="img-fluid mb-2" alt="{{ project.title }}">
    </a>
    {% else %}
    <img src="{{ project.image.url }}" class="img-fluid mb-2" alt="{{ project.title }}">
    {% endif %}
    <h3 class="text-start">{{ project.title }}</h3>
    <p class="text-start">{{ project.description }}</p>
  </div>
  {% endfor %}
</div>

{% endblock %}
